//highlight

.highlight {
    padding: 16px 40px;
    background: $primary-100;
    color: $white-100;;
}

.highlight h1 {
    font-weight: 300;
    margin: 0px 0px;
    padding-bottom: 8px;
    display: block;
    //font-size: calc(1.3rem + 3.9vw);
    b{
      font-weight: map-get($font-weights, bold);
    }
}

.highlight p {
    //font-size: calc(1.5rem + 0.5vw);
    font-weight: 300;
    max-width: 900px;
}
