//Project Page

#intro-box {
  display: flex;
  flex-row: row;
  justify-content: space-between;
  @media screen and (max-width:800px) {
    flex-direction: column;
  }
}

#objective-box {
    max-width: calc(100% / 3 * 2);
}

#team-box {
    text-align: right;
    @media screen and (max-width:800px) {
      text-align: left;
    }
    & ul {
      list-style: none;
    }
    & li {
      line-height: 150%;
      font-weight: map-get($font-weights, light);
    }
    & b {
      font-weight: map-get($font-weights, medium);
    }
}

.bullets{
  list-style: none;
  line-height:150%;
  margin: 0px;
  padding: 0px;
}

.bullets li{
  padding-bottom: 8px;
}

.bullets li:before{
  content: "\2022";
  color: $primary-50;
  margin-right: 4px;
  margin-left: -8px;
}
