@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,800&display=swap");
/*Base*/
/*Color Helpers DO NOT TOUCH*/
html {
  scroll-behavior: smooth; }

.inner-container {
  max-width: 1200px; }

body {
  margin: 0; }

.inner-container {
  max-width: 1200px;
  text-align: left;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-self: center;
  margin-bottom: 8px; }
  @media screen and (max-width: 1280px) {
    .inner-container {
      margin: 0 40px; } }

.section {
  width: 100%; }
  .section > .inner-container {
    max-width: 1200px; }

.wrapper {
  display: grid;
  grid-template-columns: 1fr min(65ch, 100%) 1fr; }

.wrapper > * {
  grid-column: 2; }

.full-width {
  width: 100%;
  grid-column: 1 / 4;
  padding: 0;
  margin: 0; }

.almost-full-width {
  width: 100%;
  grid-column: 1 / 4;
  max-width: 1200px;
  margin: 32px auto; }

.fit-width {
  max-width: min(65ch, 100%); }

.highlight {
  background: #455459;
  color: #ffffff;
  padding: 24px 0px; }

figure img {
  width: 100%; }

figcaption {
  text-align: center; }

#about h1 {
  font-weight: 300;
  line-height: 90%;
  margin-bottom: 24px;
  display: block; }
  #about h1 b {
    font-weight: 700; }

.flex-row {
  display: flex;
  flex-direction: row; }
  .flex-row.start {
    justify-content: flex-start; }
  .flex-row.between {
    justify-content: space-between; }
  .flex-row.around {
    justify-content: space-around; }
  .flex-row.center {
    justify-content: center; }

.flex-column {
  display: flex;
  flex-direction: column; }
  .flex-column.start {
    align-items: flex-start; }
  .flex-column.between {
    align-items: space-between; }
  .flex-column.around {
    align-items: space-around; }
  .flex-column.center {
    align-items: center;
    padding: 8px; }

.two-column-grid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr; }
  @media screen and (max-width: 768px) {
    .two-column-grid {
      grid-template-columns: 1fr; } }

.color-box {
  height: 50px;
  width: 50px;
  margin-bottom: 10px; }

html {
  font-family: "Montserrat", sans-serif;
  font-size: 115%;
  color: #455459; }

h1,
h2,
h3,
h4,
h6,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 431.25%;
  margin-bottom: 16px;
  font-weight: 300;
  line-height: 100%; }

h2 {
  font-size: 215.625%;
  font-weight: 700;
  margin: 16px 0 8px; }

h3 {
  font-size: 143.75%;
  font-weight: 700;
  margin: 16px 0 8px; }


h4,
h6 {
  font-size: 143.75%;
  font-weight: 500;
  margin: 8px 0; }

h5 {
  font-size: 115%;
  font-weight: 700; }

p {
  font-size: 115%;
  font-weight: 400;
  line-height: 150%;
  margin: 8px 0 16px; }

.highlight p {
  font-weight: 300;
  max-width: 900px; }
  .highlight p a {
    color: #ffffff;
    -webkit-text-decoration-color: rgba(255, 255, 255, 0.5);
            text-decoration-color: rgba(255, 255, 255, 0.5); }
    .highlight p a:hover {
      color: #455459;
      background-color: #ffffff;
      text-decoration: none; }

.wrapper p a {
  color: #455459; }
  .wrapper p a:hover {
    color: #ffffff;
    background-color: #455459;
    text-decoration: none; }

em, h1 b {
  font-weight: 700;
  font-style: normal; }

.bullets,
.quotes {
  list-style: none;
  line-height: 125%;
  margin: 0;
  padding: 8px 0;
  font-size: 115%; }

.bullets li,
.quotes li {
  padding-bottom: 8px; }

.bullets li:before {
  content: "\2022";
  color: rgba(69, 84, 89, 0.5);
  margin-right: 8px;
  margin-left: -16px; }

/*Text Colors*/
.primary-100 {
  color: #455459; }

.primary-90 {
  color: rgba(69, 84, 89, 0.9); }

.primary-80 {
  color: rgba(69, 84, 89, 0.8); }

.primary-70 {
  color: rgba(69, 84, 89, 0.7); }

.primary-60 {
  color: rgba(69, 84, 89, 0.6); }

.primary-50 {
  color: rgba(69, 84, 89, 0.5); }

.primary-40 {
  color: rgba(69, 84, 89, 0.4); }

.primary-30 {
  color: rgba(69, 84, 89, 0.3); }

.primary-20 {
  color: rgba(69, 84, 89, 0.2); }

.primary-10 {
  color: rgba(69, 84, 89, 0.1); }

.accent-100 {
  color: #123456; }

.accent-90 {
  color: rgba(18, 52, 86, 0.9); }

.accent-80 {
  color: rgba(18, 52, 86, 0.8); }

.accent-70 {
  color: rgba(18, 52, 86, 0.7); }

.accent-60 {
  color: rgba(18, 52, 86, 0.6); }

.accent-50 {
  color: rgba(18, 52, 86, 0.5); }

.accent-40 {
  color: rgba(18, 52, 86, 0.4); }

.accent-30 {
  color: rgba(18, 52, 86, 0.3); }

.accent-20 {
  color: rgba(18, 52, 86, 0.2); }

.accent-10 {
  color: rgba(18, 52, 86, 0.1); }

.warning-100 {
  color: red; }

.warning-90 {
  color: rgba(255, 0, 0, 0.9); }

.warning-80 {
  color: rgba(255, 0, 0, 0.8); }

.warning-70 {
  color: rgba(255, 0, 0, 0.7); }

.warning-60 {
  color: rgba(255, 0, 0, 0.6); }

.warning-50 {
  color: rgba(255, 0, 0, 0.5); }

.warning-40 {
  color: rgba(255, 0, 0, 0.4); }

.warning-30 {
  color: rgba(255, 0, 0, 0.3); }

.warning-20 {
  color: rgba(255, 0, 0, 0.2); }

.warning-10 {
  color: rgba(255, 0, 0, 0.1); }

.black-100 {
  color: #455459; }

.black-90 {
  color: rgba(69, 84, 89, 0.9); }

.black-80 {
  color: rgba(69, 84, 89, 0.8); }

.black-70 {
  color: rgba(69, 84, 89, 0.7); }

.black-60 {
  color: rgba(69, 84, 89, 0.6); }

.black-50 {
  color: rgba(69, 84, 89, 0.5); }

.black-40 {
  color: rgba(69, 84, 89, 0.4); }

.black-30 {
  color: rgba(69, 84, 89, 0.3); }

.black-20 {
  color: rgba(69, 84, 89, 0.2); }

.black-10 {
  color: rgba(69, 84, 89, 0.1); }

.white-100 {
  color: #ffffff; }

.white-90 {
  color: rgba(255, 255, 255, 0.9); }

.white-80 {
  color: rgba(255, 255, 255, 0.8); }

.white-70 {
  color: rgba(255, 255, 255, 0.7); }

.white-60 {
  color: rgba(255, 255, 255, 0.6); }

.white-50 {
  color: rgba(255, 255, 255, 0.5); }

.white-40 {
  color: rgba(255, 255, 255, 0.4); }

.white-30 {
  color: rgba(255, 255, 255, 0.3); }

.white-20 {
  color: rgba(255, 255, 255, 0.2); }

.white-10 {
  color: rgba(255, 255, 255, 0.1); }

/*Backgrounds*/
.bg-primary-100 {
  background: #455459; }

.bg-primary-90 {
  background: rgba(69, 84, 89, 0.9); }

.bg-primary-80 {
  background: rgba(69, 84, 89, 0.8); }

.bg-primary-70 {
  background: rgba(69, 84, 89, 0.7); }

.bg-primary-60 {
  background: rgba(69, 84, 89, 0.6); }

.bg-primary-50 {
  background: rgba(69, 84, 89, 0.5); }

.bg-primary-40 {
  background: rgba(69, 84, 89, 0.4); }

.bg-primary-30 {
  background: rgba(69, 84, 89, 0.3); }

.bg-primary-20 {
  background: rgba(69, 84, 89, 0.2); }

.bg-primary-10 {
  background: rgba(69, 84, 89, 0.1); }

.bg-accent-100 {
  background: #123456; }

.bg-accent-90 {
  background: rgba(18, 52, 86, 0.9); }

.bg-accent-80 {
  background: rgba(18, 52, 86, 0.8); }

.bg-accent-70 {
  background: rgba(18, 52, 86, 0.7); }

.bg-accent-60 {
  background: rgba(18, 52, 86, 0.6); }

.bg-accent-50 {
  background: rgba(18, 52, 86, 0.5); }

.bg-accent-40 {
  background: rgba(18, 52, 86, 0.4); }

.bg-accent-30 {
  background: rgba(18, 52, 86, 0.3); }

.bg-accent-20 {
  background: rgba(18, 52, 86, 0.2); }

.bg-accent-10 {
  background: rgba(18, 52, 86, 0.1); }

.bg-warning-100 {
  background: red; }

.bg-warning-90 {
  background: rgba(255, 0, 0, 0.9); }

.bg-warning-80 {
  background: rgba(255, 0, 0, 0.8); }

.bg-warning-70 {
  background: rgba(255, 0, 0, 0.7); }

.bg-warning-60 {
  background: rgba(255, 0, 0, 0.6); }

.bg-warning-50 {
  background: rgba(255, 0, 0, 0.5); }

.bg-warning-40 {
  background: rgba(255, 0, 0, 0.4); }

.bg-warning-30 {
  background: rgba(255, 0, 0, 0.3); }

.bg-warning-20 {
  background: rgba(255, 0, 0, 0.2); }

.bg-warning-10 {
  background: rgba(255, 0, 0, 0.1); }

.bg-black-100 {
  background: #455459; }

.bg-black-90 {
  background: rgba(69, 84, 89, 0.9); }

.bg-black-80 {
  background: rgba(69, 84, 89, 0.8); }

.bg-black-70 {
  background: rgba(69, 84, 89, 0.7); }

.bg-black-60 {
  background: rgba(69, 84, 89, 0.6); }

.bg-black-50 {
  background: rgba(69, 84, 89, 0.5); }

.bg-black-40 {
  background: rgba(69, 84, 89, 0.4); }

.bg-black-30 {
  background: rgba(69, 84, 89, 0.3); }

.bg-black-20 {
  background: rgba(69, 84, 89, 0.2); }

.bg-black-10 {
  background: rgba(69, 84, 89, 0.1); }

.bg-white-100 {
  background: #ffffff; }

.bg-white-90 {
  background: rgba(255, 255, 255, 0.9); }

.bg-white-80 {
  background: rgba(255, 255, 255, 0.8); }

.bg-white-70 {
  background: rgba(255, 255, 255, 0.7); }

.bg-white-60 {
  background: rgba(255, 255, 255, 0.6); }

.bg-white-50 {
  background: rgba(255, 255, 255, 0.5); }

.bg-white-40 {
  background: rgba(255, 255, 255, 0.4); }

.bg-white-30 {
  background: rgba(255, 255, 255, 0.3); }

.bg-white-20 {
  background: rgba(255, 255, 255, 0.2); }

.bg-white-10 {
  background: rgba(255, 255, 255, 0.1); }

/*Backgrounds*/
.bg-primary-100 {
  background: #455459; }

.bg-primary-90 {
  background: rgba(69, 84, 89, 0.9); }

.bg-primary-80 {
  background: rgba(69, 84, 89, 0.8); }

.bg-primary-70 {
  background: rgba(69, 84, 89, 0.7); }

.bg-primary-60 {
  background: rgba(69, 84, 89, 0.6); }

.bg-primary-50 {
  background: rgba(69, 84, 89, 0.5); }

.bg-primary-40 {
  background: rgba(69, 84, 89, 0.4); }

.bg-primary-30 {
  background: rgba(69, 84, 89, 0.3); }

.bg-primary-20 {
  background: rgba(69, 84, 89, 0.2); }

.bg-primary-10 {
  background: rgba(69, 84, 89, 0.1); }

.bg-accent-100 {
  background: #123456; }

.bg-accent-90 {
  background: rgba(18, 52, 86, 0.9); }

.bg-accent-80 {
  background: rgba(18, 52, 86, 0.8); }

.bg-accent-70 {
  background: rgba(18, 52, 86, 0.7); }

.bg-accent-60 {
  background: rgba(18, 52, 86, 0.6); }

.bg-accent-50 {
  background: rgba(18, 52, 86, 0.5); }

.bg-accent-40 {
  background: rgba(18, 52, 86, 0.4); }

.bg-accent-30 {
  background: rgba(18, 52, 86, 0.3); }

.bg-accent-20 {
  background: rgba(18, 52, 86, 0.2); }

.bg-accent-10 {
  background: rgba(18, 52, 86, 0.1); }

.bg-warning-100 {
  background: red; }

.bg-warning-90 {
  background: rgba(255, 0, 0, 0.9); }

.bg-warning-80 {
  background: rgba(255, 0, 0, 0.8); }

.bg-warning-70 {
  background: rgba(255, 0, 0, 0.7); }

.bg-warning-60 {
  background: rgba(255, 0, 0, 0.6); }

.bg-warning-50 {
  background: rgba(255, 0, 0, 0.5); }

.bg-warning-40 {
  background: rgba(255, 0, 0, 0.4); }

.bg-warning-30 {
  background: rgba(255, 0, 0, 0.3); }

.bg-warning-20 {
  background: rgba(255, 0, 0, 0.2); }

.bg-warning-10 {
  background: rgba(255, 0, 0, 0.1); }

.bg-black-100 {
  background: #455459; }

.bg-black-90 {
  background: rgba(69, 84, 89, 0.9); }

.bg-black-80 {
  background: rgba(69, 84, 89, 0.8); }

.bg-black-70 {
  background: rgba(69, 84, 89, 0.7); }

.bg-black-60 {
  background: rgba(69, 84, 89, 0.6); }

.bg-black-50 {
  background: rgba(69, 84, 89, 0.5); }

.bg-black-40 {
  background: rgba(69, 84, 89, 0.4); }

.bg-black-30 {
  background: rgba(69, 84, 89, 0.3); }

.bg-black-20 {
  background: rgba(69, 84, 89, 0.2); }

.bg-black-10 {
  background: rgba(69, 84, 89, 0.1); }

.bg-white-100 {
  background: #ffffff; }

.bg-white-90 {
  background: rgba(255, 255, 255, 0.9); }

.bg-white-80 {
  background: rgba(255, 255, 255, 0.8); }

.bg-white-70 {
  background: rgba(255, 255, 255, 0.7); }

.bg-white-60 {
  background: rgba(255, 255, 255, 0.6); }

.bg-white-50 {
  background: rgba(255, 255, 255, 0.5); }

.bg-white-40 {
  background: rgba(255, 255, 255, 0.4); }

.bg-white-30 {
  background: rgba(255, 255, 255, 0.3); }

.bg-white-20 {
  background: rgba(255, 255, 255, 0.2); }

.bg-white-10 {
  background: rgba(255, 255, 255, 0.1); }

/*Backgrounds*/
.bg-primary-100 {
  background: #455459; }

.bg-primary-90 {
  background: rgba(69, 84, 89, 0.9); }

.bg-primary-80 {
  background: rgba(69, 84, 89, 0.8); }

.bg-primary-70 {
  background: rgba(69, 84, 89, 0.7); }

.bg-primary-60 {
  background: rgba(69, 84, 89, 0.6); }

.bg-primary-50 {
  background: rgba(69, 84, 89, 0.5); }

.bg-primary-40 {
  background: rgba(69, 84, 89, 0.4); }

.bg-primary-30 {
  background: rgba(69, 84, 89, 0.3); }

.bg-primary-20 {
  background: rgba(69, 84, 89, 0.2); }

.bg-primary-10 {
  background: rgba(69, 84, 89, 0.1); }

.bg-accent-100 {
  background: #123456; }

.bg-accent-90 {
  background: rgba(18, 52, 86, 0.9); }

.bg-accent-80 {
  background: rgba(18, 52, 86, 0.8); }

.bg-accent-70 {
  background: rgba(18, 52, 86, 0.7); }

.bg-accent-60 {
  background: rgba(18, 52, 86, 0.6); }

.bg-accent-50 {
  background: rgba(18, 52, 86, 0.5); }

.bg-accent-40 {
  background: rgba(18, 52, 86, 0.4); }

.bg-accent-30 {
  background: rgba(18, 52, 86, 0.3); }

.bg-accent-20 {
  background: rgba(18, 52, 86, 0.2); }

.bg-accent-10 {
  background: rgba(18, 52, 86, 0.1); }

.bg-warning-100 {
  background: red; }

.bg-warning-90 {
  background: rgba(255, 0, 0, 0.9); }

.bg-warning-80 {
  background: rgba(255, 0, 0, 0.8); }

.bg-warning-70 {
  background: rgba(255, 0, 0, 0.7); }

.bg-warning-60 {
  background: rgba(255, 0, 0, 0.6); }

.bg-warning-50 {
  background: rgba(255, 0, 0, 0.5); }

.bg-warning-40 {
  background: rgba(255, 0, 0, 0.4); }

.bg-warning-30 {
  background: rgba(255, 0, 0, 0.3); }

.bg-warning-20 {
  background: rgba(255, 0, 0, 0.2); }

.bg-warning-10 {
  background: rgba(255, 0, 0, 0.1); }

.bg-black-100 {
  background: #455459; }

.bg-black-90 {
  background: rgba(69, 84, 89, 0.9); }

.bg-black-80 {
  background: rgba(69, 84, 89, 0.8); }

.bg-black-70 {
  background: rgba(69, 84, 89, 0.7); }

.bg-black-60 {
  background: rgba(69, 84, 89, 0.6); }

.bg-black-50 {
  background: rgba(69, 84, 89, 0.5); }

.bg-black-40 {
  background: rgba(69, 84, 89, 0.4); }

.bg-black-30 {
  background: rgba(69, 84, 89, 0.3); }

.bg-black-20 {
  background: rgba(69, 84, 89, 0.2); }

.bg-black-10 {
  background: rgba(69, 84, 89, 0.1); }

.bg-white-100 {
  background: #ffffff; }

.bg-white-90 {
  background: rgba(255, 255, 255, 0.9); }

.bg-white-80 {
  background: rgba(255, 255, 255, 0.8); }

.bg-white-70 {
  background: rgba(255, 255, 255, 0.7); }

.bg-white-60 {
  background: rgba(255, 255, 255, 0.6); }

.bg-white-50 {
  background: rgba(255, 255, 255, 0.5); }

.bg-white-40 {
  background: rgba(255, 255, 255, 0.4); }

.bg-white-30 {
  background: rgba(255, 255, 255, 0.3); }

.bg-white-20 {
  background: rgba(255, 255, 255, 0.2); }

.bg-white-10 {
  background: rgba(255, 255, 255, 0.1); }

body {
  padding-top: 68px; }
  @media screen and (max-width: 640px) {
    body {
      padding-top: 104px; } }

#header {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  background: #ffffff;
  /*
  &:target::before {
    content:"";
    display: block;
    height: 68px;
    margin-top: -68px;
  } */
  z-index: 5; }

#header a {
  text-decoration: none;
  color: #455459;
  text-transform: lowercase;
  font-size: 115%; }

.header-wrapper {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  padding: 16px 40px; }
  @media screen and (max-width: 640px) {
    .header-wrapper {
      height: 72px; } }
  @media screen and (max-width: 400px) {
    .header-wrapper {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      display: flex; } }

.logo-name {
  height: 36px; }
  @media screen and (max-width: 640px) {
    .logo-name {
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      display: flex;
      height: 36px; } }
  @media screen and (max-width: 400px) {
    .logo-name {
      justify-content: center;
      flex-direction: row;
      align-items: flex-start;
      display: flex; } }

.main-nav,
.main-nav li,
.main-nav ul {
  height: 32px;
  display: flex;
  align-items: center; }

.main-nav li a {
  font-size: 115%; }

.main-nav ul li:hover a {
  background-color: #455459;
  color: #ffffff !important;
  transition: 0.2s all; }

.main-nav ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex; }

.main-nav li {
  padding-left: 16px; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .75rem;
  margin-bottom: 24px; }

#footer {
  display: flex;
  align-items: center;
  flex-direction: column; }

.social-icons {
  display: flex;
  align-items: center;
  margin: 8px; }

.social-icons a {
  -webkit-filter: contrast(0);
          filter: contrast(0);
  margin-left: 8px; }

.social-icons a:hover {
  transition: 0.3s all;
  -webkit-filter: contrast(1);
          filter: contrast(1); }

#email {
  height: 20px;
  width: 20px; }

#twitter {
  height: 24px;
  width: 24px; }

#linkedin {
  height: 16px;
  margin: 0px 0px; }

#dribbble {
  height: 16px;
  width: 16px; }

.divider {
  margin: 0px 16px; }

.coded a {
  color: #455459; }
  .coded a:hover {
    background: #455459;
    color: #ffffff;
    text-decoration: none; }

/*Components*/
#work {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #work h2 a {
    text-decoration: none;
    color: #455459 !important; }

.work-container {
  display: grid;
  grid-gap: 8px;
  max-width: 1200px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; }
  @media screen and (max-width: 1099px) {
    .work-container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      margin: 0 0 8px; } }
  @media screen and (max-width: 768px) {
    .work-container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      margin-bottom: 0; } }

.project-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 1px solid lightgray;
    box-shadow: 0px 2px 4px rgba(25, 25, 25, 0.25);*/
  height: 224px;
  font-size: 2.5rem;
  text-align: center;
  border-radius: 8px;
  background: #ffffff; }
  .project-box:hover {
    /*use sass variable gradient colors?*/
    background-color: rgba(69, 84, 89, 0.05); }
    .project-box:hover .project-name {
      -webkit-filter: contrast(1);
              filter: contrast(1); }
  .project-box:active {
    -webkit-filter: brightness(90%);
            filter: brightness(90%);
    background-color: rgba(69, 84, 89, 0.1); }
  @media screen and (max-width: 1099px) {
    .project-box {
      height: 176px; } }
  @media screen and (max-width: 768px) {
    .project-box {
      height: 144px;
      width: 100%; } }

.project-box .project-logo {
  -webkit-filter: contrast(0);
          filter: contrast(0);
  margin: 20px 16px 16px; }

.project-box .project-name {
  -webkit-filter: contrast(0);
          filter: contrast(0);
  margin: 14px 16px 16px; }

.project-box a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #455459;
  -webkit-filter: contrast(0);
          filter: contrast(0); }

.project-box:active .project-logo,
.project-box:active a,
.project-box:focus .project-logo,
.project-box:focus a,
.project-box:hover .project-logo,
.project-box:hover a {
  -webkit-filter: contrast(1);
          filter: contrast(1); }

.logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  @media screen and (max-width: 600px) {
    .logo-container {
      max-width: 75%; } }

.plus {
  margin: 4px 8px -4px;
  font-size: 2rem;
  font-weight: 300; }

.project-logo {
  max-height: 48px; }

@media screen and (max-width: 1099px) {
  div#sous-chef {
    order: -1; } }

@media screen and (max-width: 1099px) {
  div#code-breach {
    order: 10; } }

#guiltTrip {
  position: relative;
  z-index: 1;
  background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%); }

#guiltTrip::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #5CBBFF 0%, #2F78AE 100%);
  opacity: 0;
  z-index: -1;
  border-radius: 8px; }

#guiltTrip:hover::before {
  opacity: 1;
  color: #ffffff; }

#veta-health .project-logo {
  max-width: 75%;
  -webkit-filter: contrast(1);
          filter: contrast(1); }

#veta-health {
  position: relative;
  z-index: 1;
  background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%); }

#veta-health::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #9FD47F 0%, #4EB1B9 100%);
  opacity: 0;
  z-index: -1;
  border-radius: 8px; }

#veta-health:hover::before {
  opacity: 1;
  color: #ffffff; }

#code-breach:hover {
  background-image: url("/Images/projects/code-breach/card-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

#code-breach:hover a span {
  color: #ffffff;
  background-color: rgba(47, 47, 47, 0.75); }

/*
#intro-box {
  display: flex;
  flex-row: row;
  justify-content: space-between;
  @media screen and (max-width:800px) {
    flex-direction: column;
  }
}

#objective-box {
    max-width: calc(100% / 3 * 2);
} */
@media screen and (max-width: 800px) {
  #team-box {
    text-align: left; } }

#team-box ul {
  list-style: none;
  padding-left: 0;
  margin: 8px 0; }

#team-box li {
  line-height: 150%;
  font-size: 115%;
  font-weight: 300;
  white-space: nowrap; }

#team-box b {
  font-weight: 500; }

.mise {
  font-style: italic;
  white-space: pre; }

.mise::after {
  content: "Means everything in its place; a chef prepares all items before starting to cook";
  font-style: normal;
  display: none;
  background: #ffffff;
  border-radius: 8px;
  color: #455459;
  padding: 8px;
  margin-left: 8px;
  margin-top: -4px;
  font-size: 75%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); }

.mise:hover::after {
  position: absolute;
  display: inline-block;
  z-index: 5; }
