@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,800&display=swap");
/*Base*/
/*Color Helpers DO NOT TOUCH*/
html {
  scroll-behavior: smooth; }

.inner-container {
  max-width: 1200px; }

body {
  margin: 0; }

.inner-container {
  max-width: 1200px;
  text-align: left;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-self: center;
  padding: 4em 2em;
  margin-bottom: 0.5em; }

.wrapper {
  display: grid;
  grid-template-columns: 1fr min(85ch, 100%) 1fr;
  padding: 3em 2em; }

.wrapper > * {
  grid-column: 2; }

.full-width {
  width: calc(100% + 4em);
  grid-column: 1 / 4;
  padding: 0;
  margin: 0 -2em; }

.almost-full-width {
  width: 100%;
  grid-column: 1 / 4;
  max-width: 1200px;
  margin: 2em auto; }

.fit-width {
  max-width: min(65ch, 100%);
  margin: 2em auto; }

.highlight {
  background: #455459;
  color: #ffffff; }

figure img {
  width: 100%; }

figcaption {
  text-align: center; }

.highlight h1 {
  font-weight: 300;
  line-height: 90%;
  margin-bottom: 0.5em;
  display: block; }
  .highlight h1 b {
    font-weight: 700; }

.flex-row {
  display: flex;
  flex-direction: row; }
  .flex-row.start {
    justify-content: flex-start; }
  .flex-row.between {
    justify-content: space-between; }
  .flex-row.around {
    justify-content: space-around; }
  .flex-row.center {
    justify-content: center; }

.flex-column {
  display: flex;
  flex-direction: column; }
  .flex-column.start {
    align-items: flex-start; }
  .flex-column.between {
    align-items: space-between; }
  .flex-column.around {
    align-items: space-around; }
  .flex-column.center {
    align-items: center;
    padding: 0.5em; }

.two-column-grid {
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: 1fr 1fr; }
  @media screen and (max-width: 48em) {
    .two-column-grid {
      grid-template-columns: 1fr; } }

.color-box {
  height: 50px;
  width: 50px;
  margin-bottom: 10px; }

html {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #455459; }

h1,
h2,
h3,
h4,
h6,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 3.5rem;
  margin-bottom: 0em;
  font-weight: 300;
  line-height: 100%; }

h2 {
  font-size: 2.1rem;
  font-weight: 700;
  margin: 1em 0 0.5em; }

h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 1em 0 0.5em; }


h4,
h6 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.5em 0; }

h5 {
  font-size: 1rem;
  font-weight: 700; }

p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0.5em 0 1em; }

.inner-container p a {
  color: #455459; }
  .inner-container p a:hover {
    color: #ffffff;
    background-color: #455459;
    text-decoration: none; }
  .inner-container p a:active {
    color: #ffffff;
    background-color: #455459;
    text-decoration: none; }

.wrapper p a {
  color: #455459; }
  .wrapper p a:hover {
    color: #ffffff;
    background-color: #455459;
    text-decoration: none; }
  .wrapper p a:active {
    color: #ffffff;
    background-color: #455459;
    text-decoration: none; }

.highlight p {
  font-weight: 300;
  max-width: 900px; }
  .highlight p a {
    color: #ffffff;
    -webkit-text-decoration-color: rgba(255, 255, 255, 0.5);
            text-decoration-color: rgba(255, 255, 255, 0.5); }
    .highlight p a:hover {
      color: #455459;
      background-color: #ffffff;
      text-decoration: none; }

em, h1 b {
  font-weight: 700;
  font-style: normal; }

.bullets,
.quotes {
  list-style: none;
  line-height: 1.5;
  margin: 0;
  padding: 0.5em 0;
  font-size: 1.4rem; }

.bullets li,
.quotes li {
  padding-bottom: 0.5em; }

.bullets li:before {
  content: "\2022";
  color: rgba(69, 84, 89, 0.5);
  margin-right: 0.5em;
  margin-left: -1em; }

/*Text Colors*/
.primary-100 {
  color: #455459; }

.primary-90 {
  color: rgba(69, 84, 89, 0.9); }

.primary-80 {
  color: rgba(69, 84, 89, 0.8); }

.primary-70 {
  color: rgba(69, 84, 89, 0.7); }

.primary-60 {
  color: rgba(69, 84, 89, 0.6); }

.primary-50 {
  color: rgba(69, 84, 89, 0.5); }

.primary-40 {
  color: rgba(69, 84, 89, 0.4); }

.primary-30 {
  color: rgba(69, 84, 89, 0.3); }

.primary-20 {
  color: rgba(69, 84, 89, 0.2); }

.primary-10 {
  color: rgba(69, 84, 89, 0.1); }

.accent-100 {
  color: #123456; }

.accent-90 {
  color: rgba(18, 52, 86, 0.9); }

.accent-80 {
  color: rgba(18, 52, 86, 0.8); }

.accent-70 {
  color: rgba(18, 52, 86, 0.7); }

.accent-60 {
  color: rgba(18, 52, 86, 0.6); }

.accent-50 {
  color: rgba(18, 52, 86, 0.5); }

.accent-40 {
  color: rgba(18, 52, 86, 0.4); }

.accent-30 {
  color: rgba(18, 52, 86, 0.3); }

.accent-20 {
  color: rgba(18, 52, 86, 0.2); }

.accent-10 {
  color: rgba(18, 52, 86, 0.1); }

.warning-100 {
  color: red; }

.warning-90 {
  color: rgba(255, 0, 0, 0.9); }

.warning-80 {
  color: rgba(255, 0, 0, 0.8); }

.warning-70 {
  color: rgba(255, 0, 0, 0.7); }

.warning-60 {
  color: rgba(255, 0, 0, 0.6); }

.warning-50 {
  color: rgba(255, 0, 0, 0.5); }

.warning-40 {
  color: rgba(255, 0, 0, 0.4); }

.warning-30 {
  color: rgba(255, 0, 0, 0.3); }

.warning-20 {
  color: rgba(255, 0, 0, 0.2); }

.warning-10 {
  color: rgba(255, 0, 0, 0.1); }

.black-100 {
  color: #000000; }

.black-90 {
  color: rgba(0, 0, 0, 0.9); }

.black-80 {
  color: rgba(0, 0, 0, 0.8); }

.black-70 {
  color: rgba(0, 0, 0, 0.7); }

.black-60 {
  color: rgba(0, 0, 0, 0.6); }

.black-50 {
  color: rgba(0, 0, 0, 0.5); }

.black-40 {
  color: rgba(0, 0, 0, 0.4); }

.black-30 {
  color: rgba(0, 0, 0, 0.3); }

.black-20 {
  color: rgba(0, 0, 0, 0.2); }

.black-10 {
  color: rgba(0, 0, 0, 0.1); }

.white-100 {
  color: #ffffff; }

.white-90 {
  color: rgba(255, 255, 255, 0.9); }

.white-80 {
  color: rgba(255, 255, 255, 0.8); }

.white-70 {
  color: rgba(255, 255, 255, 0.7); }

.white-60 {
  color: rgba(255, 255, 255, 0.6); }

.white-50 {
  color: rgba(255, 255, 255, 0.5); }

.white-40 {
  color: rgba(255, 255, 255, 0.4); }

.white-30 {
  color: rgba(255, 255, 255, 0.3); }

.white-20 {
  color: rgba(255, 255, 255, 0.2); }

.white-10 {
  color: rgba(255, 255, 255, 0.1); }

/*Backgrounds*/
.bg-primary-100 {
  background: #455459; }

.bg-primary-90 {
  background: rgba(69, 84, 89, 0.9); }

.bg-primary-80 {
  background: rgba(69, 84, 89, 0.8); }

.bg-primary-70 {
  background: rgba(69, 84, 89, 0.7); }

.bg-primary-60 {
  background: rgba(69, 84, 89, 0.6); }

.bg-primary-50 {
  background: rgba(69, 84, 89, 0.5); }

.bg-primary-40 {
  background: rgba(69, 84, 89, 0.4); }

.bg-primary-30 {
  background: rgba(69, 84, 89, 0.3); }

.bg-primary-20 {
  background: rgba(69, 84, 89, 0.2); }

.bg-primary-10 {
  background: rgba(69, 84, 89, 0.1); }

.bg-accent-100 {
  background: #123456; }

.bg-accent-90 {
  background: rgba(18, 52, 86, 0.9); }

.bg-accent-80 {
  background: rgba(18, 52, 86, 0.8); }

.bg-accent-70 {
  background: rgba(18, 52, 86, 0.7); }

.bg-accent-60 {
  background: rgba(18, 52, 86, 0.6); }

.bg-accent-50 {
  background: rgba(18, 52, 86, 0.5); }

.bg-accent-40 {
  background: rgba(18, 52, 86, 0.4); }

.bg-accent-30 {
  background: rgba(18, 52, 86, 0.3); }

.bg-accent-20 {
  background: rgba(18, 52, 86, 0.2); }

.bg-accent-10 {
  background: rgba(18, 52, 86, 0.1); }

.bg-warning-100 {
  background: red; }

.bg-warning-90 {
  background: rgba(255, 0, 0, 0.9); }

.bg-warning-80 {
  background: rgba(255, 0, 0, 0.8); }

.bg-warning-70 {
  background: rgba(255, 0, 0, 0.7); }

.bg-warning-60 {
  background: rgba(255, 0, 0, 0.6); }

.bg-warning-50 {
  background: rgba(255, 0, 0, 0.5); }

.bg-warning-40 {
  background: rgba(255, 0, 0, 0.4); }

.bg-warning-30 {
  background: rgba(255, 0, 0, 0.3); }

.bg-warning-20 {
  background: rgba(255, 0, 0, 0.2); }

.bg-warning-10 {
  background: rgba(255, 0, 0, 0.1); }

.bg-black-100 {
  background: #000000; }

.bg-black-90 {
  background: rgba(0, 0, 0, 0.9); }

.bg-black-80 {
  background: rgba(0, 0, 0, 0.8); }

.bg-black-70 {
  background: rgba(0, 0, 0, 0.7); }

.bg-black-60 {
  background: rgba(0, 0, 0, 0.6); }

.bg-black-50 {
  background: rgba(0, 0, 0, 0.5); }

.bg-black-40 {
  background: rgba(0, 0, 0, 0.4); }

.bg-black-30 {
  background: rgba(0, 0, 0, 0.3); }

.bg-black-20 {
  background: rgba(0, 0, 0, 0.2); }

.bg-black-10 {
  background: rgba(0, 0, 0, 0.1); }

.bg-white-100 {
  background: #ffffff; }

.bg-white-90 {
  background: rgba(255, 255, 255, 0.9); }

.bg-white-80 {
  background: rgba(255, 255, 255, 0.8); }

.bg-white-70 {
  background: rgba(255, 255, 255, 0.7); }

.bg-white-60 {
  background: rgba(255, 255, 255, 0.6); }

.bg-white-50 {
  background: rgba(255, 255, 255, 0.5); }

.bg-white-40 {
  background: rgba(255, 255, 255, 0.4); }

.bg-white-30 {
  background: rgba(255, 255, 255, 0.3); }

.bg-white-20 {
  background: rgba(255, 255, 255, 0.2); }

.bg-white-10 {
  background: rgba(255, 255, 255, 0.1); }

/*Backgrounds*/
.bg-primary-100 {
  background: #455459; }

.bg-primary-90 {
  background: rgba(69, 84, 89, 0.9); }

.bg-primary-80 {
  background: rgba(69, 84, 89, 0.8); }

.bg-primary-70 {
  background: rgba(69, 84, 89, 0.7); }

.bg-primary-60 {
  background: rgba(69, 84, 89, 0.6); }

.bg-primary-50 {
  background: rgba(69, 84, 89, 0.5); }

.bg-primary-40 {
  background: rgba(69, 84, 89, 0.4); }

.bg-primary-30 {
  background: rgba(69, 84, 89, 0.3); }

.bg-primary-20 {
  background: rgba(69, 84, 89, 0.2); }

.bg-primary-10 {
  background: rgba(69, 84, 89, 0.1); }

.bg-accent-100 {
  background: #123456; }

.bg-accent-90 {
  background: rgba(18, 52, 86, 0.9); }

.bg-accent-80 {
  background: rgba(18, 52, 86, 0.8); }

.bg-accent-70 {
  background: rgba(18, 52, 86, 0.7); }

.bg-accent-60 {
  background: rgba(18, 52, 86, 0.6); }

.bg-accent-50 {
  background: rgba(18, 52, 86, 0.5); }

.bg-accent-40 {
  background: rgba(18, 52, 86, 0.4); }

.bg-accent-30 {
  background: rgba(18, 52, 86, 0.3); }

.bg-accent-20 {
  background: rgba(18, 52, 86, 0.2); }

.bg-accent-10 {
  background: rgba(18, 52, 86, 0.1); }

.bg-warning-100 {
  background: red; }

.bg-warning-90 {
  background: rgba(255, 0, 0, 0.9); }

.bg-warning-80 {
  background: rgba(255, 0, 0, 0.8); }

.bg-warning-70 {
  background: rgba(255, 0, 0, 0.7); }

.bg-warning-60 {
  background: rgba(255, 0, 0, 0.6); }

.bg-warning-50 {
  background: rgba(255, 0, 0, 0.5); }

.bg-warning-40 {
  background: rgba(255, 0, 0, 0.4); }

.bg-warning-30 {
  background: rgba(255, 0, 0, 0.3); }

.bg-warning-20 {
  background: rgba(255, 0, 0, 0.2); }

.bg-warning-10 {
  background: rgba(255, 0, 0, 0.1); }

.bg-black-100 {
  background: #000000; }

.bg-black-90 {
  background: rgba(0, 0, 0, 0.9); }

.bg-black-80 {
  background: rgba(0, 0, 0, 0.8); }

.bg-black-70 {
  background: rgba(0, 0, 0, 0.7); }

.bg-black-60 {
  background: rgba(0, 0, 0, 0.6); }

.bg-black-50 {
  background: rgba(0, 0, 0, 0.5); }

.bg-black-40 {
  background: rgba(0, 0, 0, 0.4); }

.bg-black-30 {
  background: rgba(0, 0, 0, 0.3); }

.bg-black-20 {
  background: rgba(0, 0, 0, 0.2); }

.bg-black-10 {
  background: rgba(0, 0, 0, 0.1); }

.bg-white-100 {
  background: #ffffff; }

.bg-white-90 {
  background: rgba(255, 255, 255, 0.9); }

.bg-white-80 {
  background: rgba(255, 255, 255, 0.8); }

.bg-white-70 {
  background: rgba(255, 255, 255, 0.7); }

.bg-white-60 {
  background: rgba(255, 255, 255, 0.6); }

.bg-white-50 {
  background: rgba(255, 255, 255, 0.5); }

.bg-white-40 {
  background: rgba(255, 255, 255, 0.4); }

.bg-white-30 {
  background: rgba(255, 255, 255, 0.3); }

.bg-white-20 {
  background: rgba(255, 255, 255, 0.2); }

.bg-white-10 {
  background: rgba(255, 255, 255, 0.1); }

/*Backgrounds*/
.bg-primary-100 {
  background: #455459; }

.bg-primary-90 {
  background: rgba(69, 84, 89, 0.9); }

.bg-primary-80 {
  background: rgba(69, 84, 89, 0.8); }

.bg-primary-70 {
  background: rgba(69, 84, 89, 0.7); }

.bg-primary-60 {
  background: rgba(69, 84, 89, 0.6); }

.bg-primary-50 {
  background: rgba(69, 84, 89, 0.5); }

.bg-primary-40 {
  background: rgba(69, 84, 89, 0.4); }

.bg-primary-30 {
  background: rgba(69, 84, 89, 0.3); }

.bg-primary-20 {
  background: rgba(69, 84, 89, 0.2); }

.bg-primary-10 {
  background: rgba(69, 84, 89, 0.1); }

.bg-accent-100 {
  background: #123456; }

.bg-accent-90 {
  background: rgba(18, 52, 86, 0.9); }

.bg-accent-80 {
  background: rgba(18, 52, 86, 0.8); }

.bg-accent-70 {
  background: rgba(18, 52, 86, 0.7); }

.bg-accent-60 {
  background: rgba(18, 52, 86, 0.6); }

.bg-accent-50 {
  background: rgba(18, 52, 86, 0.5); }

.bg-accent-40 {
  background: rgba(18, 52, 86, 0.4); }

.bg-accent-30 {
  background: rgba(18, 52, 86, 0.3); }

.bg-accent-20 {
  background: rgba(18, 52, 86, 0.2); }

.bg-accent-10 {
  background: rgba(18, 52, 86, 0.1); }

.bg-warning-100 {
  background: red; }

.bg-warning-90 {
  background: rgba(255, 0, 0, 0.9); }

.bg-warning-80 {
  background: rgba(255, 0, 0, 0.8); }

.bg-warning-70 {
  background: rgba(255, 0, 0, 0.7); }

.bg-warning-60 {
  background: rgba(255, 0, 0, 0.6); }

.bg-warning-50 {
  background: rgba(255, 0, 0, 0.5); }

.bg-warning-40 {
  background: rgba(255, 0, 0, 0.4); }

.bg-warning-30 {
  background: rgba(255, 0, 0, 0.3); }

.bg-warning-20 {
  background: rgba(255, 0, 0, 0.2); }

.bg-warning-10 {
  background: rgba(255, 0, 0, 0.1); }

.bg-black-100 {
  background: #000000; }

.bg-black-90 {
  background: rgba(0, 0, 0, 0.9); }

.bg-black-80 {
  background: rgba(0, 0, 0, 0.8); }

.bg-black-70 {
  background: rgba(0, 0, 0, 0.7); }

.bg-black-60 {
  background: rgba(0, 0, 0, 0.6); }

.bg-black-50 {
  background: rgba(0, 0, 0, 0.5); }

.bg-black-40 {
  background: rgba(0, 0, 0, 0.4); }

.bg-black-30 {
  background: rgba(0, 0, 0, 0.3); }

.bg-black-20 {
  background: rgba(0, 0, 0, 0.2); }

.bg-black-10 {
  background: rgba(0, 0, 0, 0.1); }

.bg-white-100 {
  background: #ffffff; }

.bg-white-90 {
  background: rgba(255, 255, 255, 0.9); }

.bg-white-80 {
  background: rgba(255, 255, 255, 0.8); }

.bg-white-70 {
  background: rgba(255, 255, 255, 0.7); }

.bg-white-60 {
  background: rgba(255, 255, 255, 0.6); }

.bg-white-50 {
  background: rgba(255, 255, 255, 0.5); }

.bg-white-40 {
  background: rgba(255, 255, 255, 0.4); }

.bg-white-30 {
  background: rgba(255, 255, 255, 0.3); }

.bg-white-20 {
  background: rgba(255, 255, 255, 0.2); }

.bg-white-10 {
  background: rgba(255, 255, 255, 0.1); }

body {
  padding-top: 4em; }
  @media screen and (max-width: 55em) {
    body {
      padding-top: 6em; } }

#header {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  background: #ffffff;
  /*
  &:target::before {
    content:"";
    display: block;
    height: 0.5em;
    margin-top: -0.5em;
  } */
  z-index: 5; }

.header-wrapper {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em; }
  @media screen and (max-width: 35em) {
    .header-wrapper {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      display: flex; } }

.logo-name {
  height: 2em; }

.responsive-logo {
  text-decoration: none; }
  @media screen and (max-width: 55em) {
    .responsive-logo {
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      display: flex; } }
  @media screen and (max-width: 35em) {
    .responsive-logo {
      display: initial; } }

.main-nav,
.main-nav li,
.main-nav ul {
  height: 2em;
  display: flex;
  align-items: center; }

.main-nav ul li a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #455459;
  text-transform: lowercase; }

.main-nav ul li:hover a {
  background-color: #455459;
  color: #ffffff !important;
  transition: 0.2s all; }

.main-nav ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex; }

.main-nav li {
  padding-left: 2em; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  margin: 2em 0em 2.8em; }

#footer {
  display: flex;
  align-items: center;
  flex-direction: column; }

.social-icons {
  display: flex;
  align-items: center; }

.social-icons a {
  -webkit-filter: contrast(0);
          filter: contrast(0);
  padding: 1em; }

.social-icons a:hover {
  transition: 0.3s all;
  -webkit-filter: contrast(1);
          filter: contrast(1); }

#email {
  height: 1.8em;
  width: 1.8em; }

#twitter {
  height: 2em;
  width: 2em; }

#linkedin {
  height: 1.4em;
  margin: 0; }

#dribbble {
  height: 1.5em;
  width: 1.5em; }

.divider {
  margin: 0 3em; }

@media screen and (min-width: 50em) {
  .coded {
    font-size: 1.4rem; } }

.coded a {
  color: #455459; }
  .coded a:hover {
    background: #455459;
    color: #ffffff;
    text-decoration: none; }

/*Components*/
#work {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #work h2 a {
    text-decoration: none;
    color: #455459 !important; }

.work-container {
  display: grid;
  grid-gap: 0.5em;
  width: calc(100% - 4em);
  max-width: 1200px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  padding: 4em 2em; }
  @media screen and (min-width: 50em) {
    .work-container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      margin-bottom: 0.5em;
      width: auto; } }
  @media screen and (min-width: 75em) {
    .work-container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      width: auto; } }

.project-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 1px solid lightgray;
    box-shadow: 0px 2px 4px rgba(25, 25, 25, 0.25);*/
  height: 6em;
  font-size: 2.5em;
  text-align: center;
  border-radius: 0.5em;
  -webkit-filter: contrast(0) brightness(1.5);
          filter: contrast(0) brightness(1.5); }
  .project-box:hover {
    /*use sass variable gradient colors?*/
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-filter: none;
            filter: none; }
  .project-box:active {
    background-color: rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 48em) {
    .project-box {
      width: 100%; } }

.project-box .project-name {
  font-weight: 500;
  font-size: 4.2rem; }
  @media screen and (min-width: 50em) {
    .project-box .project-name {
      font-size: 2.8rem; } }

.project-box a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  -webkit-filter: contrast(0);
          filter: contrast(0); }

.project-box:active .project-logo,
.project-box:active a,
.project-box:focus .project-logo,
.project-box:focus a,
.project-box:hover .project-logo,
.project-box:hover a {
  -webkit-filter: contrast(1);
          filter: contrast(1); }

.logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  @media screen and (max-width: 48em) {
    .logo-container {
      max-height: 15.5em;
      max-width: 75%; } }

.plus {
  margin: 4px 0.25em -4px;
  font-size: 1.5em;
  font-weight: 300; }

.project-logo {
  max-height: 1.5em;
  max-width: 75%; }

#code-breach:hover {
  background-image: url("/Images/projects/code-breach/card-background-transparent.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

#code-breach:hover a span {
  color: #ffffff;
  background-color: rgba(47, 47, 47, 0.4); }

@media screen and (max-width: 68em) {
  #intro-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: column; }
    #intro-box h2 {
      margin: 0.5em 0; } }

#objective-box p {
  margin-bottom: 0.5em; }

@media screen and (max-width: 800px) {
  #team-box {
    text-align: left; } }

#team-box ul {
  list-style: none;
  padding-left: 0;
  margin: 0.5em 0; }

#team-box li {
  line-height: 1.5;
  font-size: 1.4em;
  font-weight: 300; }

#team-box b {
  font-weight: 500; }

.mise {
  font-style: italic;
  white-space: pre; }

.mise::after {
  content: "Means everything in its place; a chef prepares all items before starting to cook";
  font-style: normal;
  display: none;
  background: #ffffff;
  border-radius: 0.5em;
  color: #455459;
  padding: 0.5em;
  margin-left: 0.5em;
  margin-top: -4px;
  font-size: 75%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); }

.mise:hover::after {
  position: absolute;
  display: inline-block;
  z-index: 5; }
