/*Text Colors*/

//Primary
.primary-100 { color: $primary-100;}
.primary-90{ color: $primary-90;}
.primary-80{ color: $primary-80;}
.primary-70{ color: $primary-70;}
.primary-60{ color: $primary-60;}
.primary-50{ color: $primary-50;}
.primary-40{ color: $primary-40;}
.primary-30{ color: $primary-30;}
.primary-20{ color: $primary-20;}
.primary-10{ color: $primary-10;}

//Accent
.accent-100 { color: $accent-100;}
.accent-90{ color: $accent-90;}
.accent-80{ color: $accent-80;}
.accent-70{ color: $accent-70;}
.accent-60{ color: $accent-60;}
.accent-50{ color: $accent-50;}
.accent-40{ color: $accent-40;}
.accent-30{ color: $accent-30;}
.accent-20{ color: $accent-20;}
.accent-10{ color: $accent-10;}

//Warning
.warning-100 { color: $warning-100;}
.warning-90{ color: $warning-90;}
.warning-80{ color: $warning-80;}
.warning-70{ color: $warning-70;}
.warning-60{ color: $warning-60;}
.warning-50{ color: $warning-50;}
.warning-40{ color: $warning-40;}
.warning-30{ color: $warning-30;}
.warning-20{ color: $warning-20;}
.warning-10{ color: $warning-10;}

//Black
.black-100 { color: $black-100;}
.black-90{ color: $black-90;}
.black-80{ color: $black-80;}
.black-70{ color: $black-70;}
.black-60{ color: $black-60;}
.black-50{ color: $black-50;}
.black-40{ color: $black-40;}
.black-30{ color: $black-30;}
.black-20{ color: $black-20;}
.black-10{ color: $black-10;}

//White
.white-100 { color: $white-100;}
.white-90{ color: $white-90;}
.white-80{ color: $white-80;}
.white-70{ color: $white-70;}
.white-60{ color: $white-60;}
.white-50{ color: $white-50;}
.white-40{ color: $white-40;}
.white-30{ color: $white-30;}
.white-20{ color: $white-20;}
.white-10{ color: $white-10;}


/*Backgrounds*/

//Primary
.bg-primary-100 { background: $primary-100;}
.bg-primary-90{ background: $primary-90;}
.bg-primary-80{ background: $primary-80;}
.bg-primary-70{ background: $primary-70;}
.bg-primary-60{ background: $primary-60;}
.bg-primary-50{ background: $primary-50;}
.bg-primary-40{ background: $primary-40;}
.bg-primary-30{ background: $primary-30;}
.bg-primary-20{ background: $primary-20;}
.bg-primary-10{ background: $primary-10;}

//Accent
.bg-accent-100 { background: $accent-100;}
.bg-accent-90{ background: $accent-90;}
.bg-accent-80{ background: $accent-80;}
.bg-accent-70{ background: $accent-70;}
.bg-accent-60{ background: $accent-60;}
.bg-accent-50{ background: $accent-50;}
.bg-accent-40{ background: $accent-40;}
.bg-accent-30{ background: $accent-30;}
.bg-accent-20{ background: $accent-20;}
.bg-accent-10{ background: $accent-10;}

//Warning
.bg-warning-100 { background: $warning-100;}
.bg-warning-90{ background: $warning-90;}
.bg-warning-80{ background: $warning-80;}
.bg-warning-70{ background: $warning-70;}
.bg-warning-60{ background: $warning-60;}
.bg-warning-50{ background: $warning-50;}
.bg-warning-40{ background: $warning-40;}
.bg-warning-30{ background: $warning-30;}
.bg-warning-20{ background: $warning-20;}
.bg-warning-10{ background: $warning-10;}

//Black
.bg-black-100 { background: $black-100;}
.bg-black-90{ background: $black-90;}
.bg-black-80{ background: $black-80;}
.bg-black-70{ background: $black-70;}
.bg-black-60{ background: $black-60;}
.bg-black-50{ background: $black-50;}
.bg-black-40{ background: $black-40;}
.bg-black-30{ background: $black-30;}
.bg-black-20{ background: $black-20;}
.bg-black-10{ background: $black-10;}

//White
.bg-white-100 { background: $white-100;}
.bg-white-90{ background: $white-90;}
.bg-white-80{ background: $white-80;}
.bg-white-70{ background: $white-70;}
.bg-white-60{ background: $white-60;}
.bg-white-50{ background: $white-50;}
.bg-white-40{ background: $white-40;}
.bg-white-30{ background: $white-30;}
.bg-white-20{ background: $white-20;}
.bg-white-10{ background: $white-10;}


/*Backgrounds*/

//Primary
.bg-primary-100 { background: $primary-100;}
.bg-primary-90{ background: $primary-90;}
.bg-primary-80{ background: $primary-80;}
.bg-primary-70{ background: $primary-70;}
.bg-primary-60{ background: $primary-60;}
.bg-primary-50{ background: $primary-50;}
.bg-primary-40{ background: $primary-40;}
.bg-primary-30{ background: $primary-30;}
.bg-primary-20{ background: $primary-20;}
.bg-primary-10{ background: $primary-10;}

//Accent
.bg-accent-100 { background: $accent-100;}
.bg-accent-90{ background: $accent-90;}
.bg-accent-80{ background: $accent-80;}
.bg-accent-70{ background: $accent-70;}
.bg-accent-60{ background: $accent-60;}
.bg-accent-50{ background: $accent-50;}
.bg-accent-40{ background: $accent-40;}
.bg-accent-30{ background: $accent-30;}
.bg-accent-20{ background: $accent-20;}
.bg-accent-10{ background: $accent-10;}

//Warning
.bg-warning-100 { background: $warning-100;}
.bg-warning-90{ background: $warning-90;}
.bg-warning-80{ background: $warning-80;}
.bg-warning-70{ background: $warning-70;}
.bg-warning-60{ background: $warning-60;}
.bg-warning-50{ background: $warning-50;}
.bg-warning-40{ background: $warning-40;}
.bg-warning-30{ background: $warning-30;}
.bg-warning-20{ background: $warning-20;}
.bg-warning-10{ background: $warning-10;}

//Black
.bg-black-100 { background: $black-100;}
.bg-black-90{ background: $black-90;}
.bg-black-80{ background: $black-80;}
.bg-black-70{ background: $black-70;}
.bg-black-60{ background: $black-60;}
.bg-black-50{ background: $black-50;}
.bg-black-40{ background: $black-40;}
.bg-black-30{ background: $black-30;}
.bg-black-20{ background: $black-20;}
.bg-black-10{ background: $black-10;}

//White
.bg-white-100 { background: $white-100;}
.bg-white-90{ background: $white-90;}
.bg-white-80{ background: $white-80;}
.bg-white-70{ background: $white-70;}
.bg-white-60{ background: $white-60;}
.bg-white-50{ background: $white-50;}
.bg-white-40{ background: $white-40;}
.bg-white-30{ background: $white-30;}
.bg-white-20{ background: $white-20;}
.bg-white-10{ background: $white-10;}


/*Backgrounds*/

//Primary
.bg-primary-100 { background: $primary-100;}
.bg-primary-90{ background: $primary-90;}
.bg-primary-80{ background: $primary-80;}
.bg-primary-70{ background: $primary-70;}
.bg-primary-60{ background: $primary-60;}
.bg-primary-50{ background: $primary-50;}
.bg-primary-40{ background: $primary-40;}
.bg-primary-30{ background: $primary-30;}
.bg-primary-20{ background: $primary-20;}
.bg-primary-10{ background: $primary-10;}

//Accent
.bg-accent-100 { background: $accent-100;}
.bg-accent-90{ background: $accent-90;}
.bg-accent-80{ background: $accent-80;}
.bg-accent-70{ background: $accent-70;}
.bg-accent-60{ background: $accent-60;}
.bg-accent-50{ background: $accent-50;}
.bg-accent-40{ background: $accent-40;}
.bg-accent-30{ background: $accent-30;}
.bg-accent-20{ background: $accent-20;}
.bg-accent-10{ background: $accent-10;}

//Warning
.bg-warning-100 { background: $warning-100;}
.bg-warning-90{ background: $warning-90;}
.bg-warning-80{ background: $warning-80;}
.bg-warning-70{ background: $warning-70;}
.bg-warning-60{ background: $warning-60;}
.bg-warning-50{ background: $warning-50;}
.bg-warning-40{ background: $warning-40;}
.bg-warning-30{ background: $warning-30;}
.bg-warning-20{ background: $warning-20;}
.bg-warning-10{ background: $warning-10;}

//Black
.bg-black-100 { background: $black-100;}
.bg-black-90{ background: $black-90;}
.bg-black-80{ background: $black-80;}
.bg-black-70{ background: $black-70;}
.bg-black-60{ background: $black-60;}
.bg-black-50{ background: $black-50;}
.bg-black-40{ background: $black-40;}
.bg-black-30{ background: $black-30;}
.bg-black-20{ background: $black-20;}
.bg-black-10{ background: $black-10;}

//White
.bg-white-100 { background: $white-100;}
.bg-white-90{ background: $white-90;}
.bg-white-80{ background: $white-80;}
.bg-white-70{ background: $white-70;}
.bg-white-60{ background: $white-60;}
.bg-white-50{ background: $white-50;}
.bg-white-40{ background: $white-40;}
.bg-white-30{ background: $white-30;}
.bg-white-20{ background: $white-20;}
.bg-white-10{ background: $white-10;}
