.flex-row{
  display: flex;
  flex-direction: row;
  &.start{
    justify-content: flex-start;
  }
  &.between{
    justify-content: space-between;
  }
  &.around{
    justify-content: space-around;
  }
  &.center{
    justify-content: center;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  &.start{
    align-items: flex-start;
  }
  &.between{
    align-items: space-between;
  }
  &.around{
    align-items: space-around;
  }
  &.center{
    align-items: center;
  }
}

.color-box{
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}
