//Header

body {
  padding-top: 4em;
  @media screen and (max-width: 55em) {
    padding-top: 6em;
  }
}

#header {
  //max-width: $content-width;
  //margin: 0 auto;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  background: $white-100;
  /*
  &:target::before {
    content:"";
    display: block;
    height: 0.5em;
    margin-top: -0.5em;
  } */
  z-index: 5;
}

.header-wrapper {
  max-width: $content-width;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  //height: 2em;
  padding: 1em $global-margin;
  @media screen and (max-width: 35em) {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
  }
}

.logo-name {
  height: 2em;
}

.responsive-logo {
  text-decoration: none;
  @media screen and (max-width: 55em) {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }
  @media screen and (max-width: 35em) {
    display: initial;
  }
}

.main-nav,
.main-nav li,
.main-nav ul {
  height: 2em;
  display: flex;
  align-items: center;
}

.main-nav ul li a {
  font-size: $font-size * ($font-scale * 1);
  text-decoration: none;
  color: $primary-100;
  text-transform: lowercase;
}

.main-nav ul li:hover a {
  background-color: $primary-100;
  color: $white-100 !important;
  transition: 0.2s all;
}

.main-nav ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-nav li {
  padding-left: 2em;
}
