//variables

//base
$content-width: 1100px;
$global-margin: 40px;

//Typography
$font-size: 115%;
$font-scale: 1.25;
$font-family: 'Montserrat', sans-serif;
$font-weights: (
  "light":300,
  "regular":500,
  "medium":400,
  "bold":800
);

//Set Colors
$primary-color: #455459;
$accent-color: #123456;
$warning-color: red;
$black-color: #455459;
$white-color: #ffffff;

/*Color Helpers DO NOT TOUCH*/
$primary-100: $primary-color;
$primary-90: rgba($primary-color, .9);
$primary-80: rgba($primary-color, .8);
$primary-70: rgba($primary-color, .7);
$primary-60: rgba($primary-color, .6);
$primary-50: rgba($primary-color, .5);
$primary-40: rgba($primary-color, .4);
$primary-30: rgba($primary-color, .3);
$primary-20: rgba($primary-color, .2);
$primary-10: rgba($primary-color, .1);
$primary-05: rgba($primary-color, .05);

//Accent Color
$accent-100: $accent-color;
$accent-90: rgba($accent-color, .9);
$accent-80: rgba($accent-color, .8);
$accent-70: rgba($accent-color, .7);
$accent-60: rgba($accent-color, .6);
$accent-50: rgba($accent-color, .5);
$accent-40: rgba($accent-color, .4);
$accent-30: rgba($accent-color, .3);
$accent-20: rgba($accent-color, .2);
$accent-10: rgba($accent-color, .1);
$accent-05: rgba($accent-color, .05);

//Warning Color
$warning-100: $warning-color;
$warning-90: rgba($warning-color, .9);
$warning-80: rgba($warning-color, .8);
$warning-70: rgba($warning-color, .7);
$warning-60: rgba($warning-color, .6);
$warning-50: rgba($warning-color, .5);
$warning-40: rgba($warning-color, .4);
$warning-30: rgba($warning-color, .3);
$warning-20: rgba($warning-color, .2);
$warning-10: rgba($warning-color, .1);
$warning-05: rgba($warning-color, .05);

//Black Color
$black-100: $black-color;
$black-90: rgba($black-color, .9);
$black-80: rgba($black-color, .8);
$black-70: rgba($black-color, .7);
$black-60: rgba($black-color, .6);
$black-50: rgba($black-color, .5);
$black-40: rgba($black-color, .4);
$black-30: rgba($black-color, .3);
$black-20: rgba($black-color, .2);
$black-10: rgba($black-color, .1);
$black-05: rgba($black-color, .05);

//White Color
$white-100: $white-color;
$white-90: rgba($white-color, .9);
$white-80: rgba($white-color, .8);
$white-70: rgba($white-color, .7);
$white-60: rgba($white-color, .6);
$white-50: rgba($white-color, .5);
$white-40: rgba($white-color, .4);
$white-30: rgba($white-color, .3);
$white-20: rgba($white-color, .2);
$white-10: rgba($white-color, .1);
$white-05: rgba($white-color, .05);

//Gradients
$white-gradient: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
$guiltTrip-gradient: linear-gradient(180deg, #5CBBFF 0%, #2F78AE 100%);
$veta-health-gradient: linear-gradient(90deg, #9FD47F 0%, #4EB1B9 100%);
