@import url('https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

body {
    font-family: 'Exo 2', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin: 40px;
}

.project-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    height: 200px;
    font-size: 40px;
    text-align: center;
    border-radius: 8px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#objective-box {
    grid-column-end: span 2;
}

#process-box {
    grid-column-end: span 3;
}

.occupation {
    opacity: 75%;
}

.logo {
    border-bottom: 1px solid #ec7331;
    width: 153px;
    padding-bottom: 8px;
    margin-bottom: 4px;
}

.responsive-logo {
    font-size: 3em;
    display: flex;
    line-height: 1.3em;
    margin: 0px;
    color: #323232;
}

.responsive-logo h1 {
    margin: 0;
}

@media screen and (max-width: 800px) {
    .responsive-logo {
        flex-direction: column;
        align-items: flex-start;
    }

    .container {
        grid-template-columns: 1fr 1fr;
    }

    #logo-matt {
        padding: 0px !important;
    }
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}

#logo-matt {
    padding-right: 24px;
    margin: 0px;
    font-kerning: none;
    letter-spacing: 2px;
}

#logo-matt::after {
    content: '';
    display: block;
    margin-top: 1.2rem;
    height: 4px;
    background: #333;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 2.5%, #FF7025 2.5%, #FF7025 99%, #FFFFFF 99%, #FFFFFF 100%);
}

.gray #logo-matt::after {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 2.5%, rgba(69, 84, 89, 50%) 2.5%, rgba(69, 84, 89, 50%) 99%, rgba(69, 84, 89, 50%) 99%, rgba(69, 84, 89, 50%) 100%);
}

.gray #logo-guzy::after {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 62.5px, rgba(69, 84, 89, 50%) 62.5px, rgba(69, 84, 89, 50%) 160px, rgba(255, 255, 255, 0) 160px, rgba(255, 255, 255, 0) 100%);
}

#logo-guzy::after {
    content: '';
    display: block;
    margin-top: 1.2rem;
    height: 4px;
    background: #333;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 62.5px, #FF7025 62.5px, #FF7025 160px, rgba(255, 255, 255, 0) 160px, rgba(255, 255, 255, 0) 100%);
}
