<div class="social-icons">
  <a href="mailto:MSGuzy@gmail.com" target="_blank"><img id="email" src="/Images/Mail.png" alt="Email MSGuzy@Gmail.com" </a>
    <a href="https://twitter.com/msguzy" target="_blank"><img id="twitter" src="/Images/Logos/twitter-logo.png" alt="Link to Twitter Account"></a>
    <a href="https://www.linkedin.com/in/msguzy" target="_blank"><img id="linkedin" src="/Images/Logos/linkedin-icon.png" alt="Link to LinkedIn Account"></a>
    <a href="https://dribbble.com/MSGuzy" target="_blank"><img id="dribbble" src="/Images/Logos/dribbble-icon.png" alt="Link to Dribbble Account"></a>
</div>
  <!--        <span class="divider">|</span>-->
  <span class ="coded">Handcoded with <a href="https://github.com/MSGuzy/MSGuzy.github.io" target="_blank">HTML+CSS</a></span>
