<div class="header-wrapper">
  <a class="responsive-logo" href="./index.html">
      <img class="logo-name" id="logo-matt" src="Images/matt.png" alt="Matt"></img>
      <img class="logo-name" id="logo-guzy" src="Images/guzy.png" alt="Guzy"></img>
  <a/>
  <div class="main-nav">
      <ul>
          <li><a class="anchor" href="./index.html#">About</a></li>
          <li><a class="anchor" href="./index.html#work">Work</a></li>
          <!-- <li><a href="./HTML/resume.html">Resume</a></li> -->
          <li><a href="mailto:MSGuzy@gmail.com" target="_blank" alt="Email MSGuzy@gmail.com">Contact</a>
      </ul>
  </div>
</div>
<!--<div class="responsive-logo">
    <h1 id="logo-matt">matt</h1>
    <h1 id="logo-guzy">guzy</h1>
</div> -->
